img{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 39%;
  transform: translate(-50%, -50%);
}
body{
  background-color: #9E9E9E;
}
p{
  font-size: 8pt;
  position: absolute;
  left: 85%;
  top: 90%;
}